.ellipse-container {
    position: relative;
    width: 433px;  /* 70% of 619px */
    height: 433px;  /* 70% of 619px */
    margin-top: 150px;
  }
  
  .ellipse-1 {
    background: linear-gradient(180deg, rgb(159.38, 101.03, 77.7) 0%, rgb(234, 209, 191) 100%);
    border-radius: 152px;  /* 70% of 217px */
    width: 304px;  /* 70% of 434px */
    height: 304px;  /* 70% of 434px */
    position: absolute;
    top: -75px;  /* 70% of -217px */
    left: 280px;  /* 70% of 309.5px */
    transform: rotate(-90deg);
    z-index: 1;
  }
  
  .ellipse-2 {
    background: linear-gradient(180deg, rgb(169, 217, 219) 0%, rgb(226.31, 164.67, 128.24) 100%);
    border-radius: 217px;  /* 70% of 309.5px */
    width: 433px;  /* 70% of 619px */
    height: 433px;  /* 70% of 619px */
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    z-index: 2;
  }
  
  .ellipse-3 {
    background: linear-gradient(180deg, rgb(145.56, 61.73, 15.16) 0%, rgb(226, 194, 181) 100%);
    border-radius: 148px;
    height: 296px;
    position: absolute;
    top: 240px;
    left: 300px;
    transform: rotate(-120deg);
    width: 296px;
    z-index: 3;
    }
    
.ellipse-4 {
    background: linear-gradient(180deg, rgb(217.81, 252.68, 255) 0%, rgb(88.4, 147.19, 165.75) 100%);
    border-radius: 101.5px;
    height: 203px;
    left: -200px;
    position: absolute;
    top: 240px;
    transform: rotate(-90deg);
    width: 203px;
  }